a {
  text-decoration: none !important;
  color: inherit !important;
}

.mt-logo-wish {
  width: 112px !important;
}

.navbar {
  height: 70px;
}

#basic-navbar-nav-wrapper {
  background-color: white;
}

.cart-sub {
  background-color: black !important;
  position: absolute;
  border-radius: 50px !important;
  color: white;
  font-size: x-small;
  top: 10px;
  left: 13px;
  padding: 3px;
  font-weight: lighter;
}

.thumbnail-50 {
  width: 50px;
  height: 50px;
}

.fs-sm {
  font-size: x-small !important;
}

.mt-contact-banner {
  background-image: url(/assets/images/img43.jpg);
}

.btn-wish {
  background-color: "black";
  color: "#fff";
  border: "1px solid #fff";
}
.d-in-flex {
  display: inline-flex !important;
  align-items: center;
  justify-content: space-between;
  width: 100% !important;
}

/* .d-flex {
  display: flex !important;
  align-items: center;
}

.d-none {
  display: none !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
} */

.bg-transparent-with-border {
  border: 2px solid black !important;
  background-color: transparent !important;
  color: black !important;
}

/* .bg-light {
  background-color: #edede9 !important;
  color: black !important;
} */

.bg-dark {
  background-color: black !important;
  color: white !important;
}

.bg-light-on-hover:hover {
  background-color: #edede9 !important;
  color: black !important;
}

.bg-dark-on-hover:hover {
  background-color: black !important;
  color: white !important;
}

.bg-orange-on-hover:hover {
  background-color: #ff8283 !important;
  color: black !important;
}

.marquee-container {
  padding: 10px 0;
  background-color: #f0f0f0;
  font-size: 1.6em;
}

.sign-in-banner {
  background-image: url("../images/img43.jpg");
}

/* .p-2 {
  padding: 10px !important;
}

.pt-1 {
  padding-top: 5px !important;
}

.m-1 {
  margin: 5px !important;
} */

.w-200 {
  width: 200px !important;
}

.w-100 {
  width: 100px !important;
}

.remove-bg {
  mix-blend-mode: multiply !important;
}

.w4r-thumbnail {
  width: 230px !important;
}

/* .w-25 {
  width: 25% !important;
}

.w-50 {
  width: 50% !important;
}

.w-75 {
  width: 75% !important;
} */

.w-100p {
  width: 100% !important;
}

/* .m-0 {
  margin: 0;
} */

/* .shadow {
  -webkit-box-shadow: 10px 10px 15px 0px rgba(184, 184, 184, 0.2);
  -moz-box-shadow: 10px 10px 15px 0px rgba(184, 184, 184, 0.2);
  box-shadow: 10px 10px 15px 0px rgba(184, 184, 184, 0.2);
} */

/* .rounded {
  border: 1px;
  border-radius: 10px !important;
} */

.fixed {
  position: fixed !important;
  width: 100%;
}

.pt-70 {
  padding-top: 70px;
}

/* .text-light {
  color: #afafaf !important;
} */

.price-amount {
  font-size: large;
  font-weight: bold;
  color: black;
}

.timeline {
  /* margin: 50px 0; */
  list-style-type: none;
  display: flex;
  padding: 0;
  text-align: center;
}
.timeline li {
  transition: all 200ms ease-in;
}
.timestamp {
  width: 100%;
  margin-bottom: 20px;
  padding: 0px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 100;
}
.status {
  padding: 0px 40px;
  display: flex;
  justify-content: center;
  border-top: 4px solid #f3f3f3;
  position: relative;
  transition: all 200ms ease-in;
}

.status span {
  font-weight: 600;
  padding-top: 20px;
}

.status span:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 25px;
  border: 4px solid #f3f3f3;
  position: absolute;
  top: -15px;
  left: calc(50% - 12px);
  transition: all 200ms ease-in;
}

.status.completed span:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #588157;
  border-radius: 25px;
  border: 4px solid #588157;
  position: absolute;
  top: -15px;
  left: calc(50% - 12px);
  transition: all 200ms ease-in;
}

.status.active span:before {
  content: "";
  width: 25px;
  height: 25px;
  background-color: #5465ff;
  border-radius: 25px;
  border: 4px solid #5465ff;
  position: absolute;
  top: -15px;
  left: calc(50% - 12px);
  transition: all 200ms ease-in;
}

/* .card-title {
  font-size: 3rem;
  padding: 20px;
} */

/* The Modal (background) */
/* .modal {
  display: block; /* Hidden by default 
position: fixed; /* Stay in place 
z-index: 1; /* Sit on top 
left: 0;
top: 0;
width: 100%; /* Full width 
height: 100%; /* Full height 
overflow: auto; /* Enable scroll if needed 
/* background-color: rgb(0, 0, 0); /* Fallback color */
/* background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
/*border: 1px;
  border-radius: 10px; 
}

.modal-header {
  background-color: #efefef;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px;
  border-radius: 10px 10px 0px 0px;
} */

/* Modal Content/Box */
/* .modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
/* border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
/* border: 1px;
  border-radius: 10px;
}

.modal-body {
  padding: 30px 20px;
  max-height: 400px;
  overflow-y: auto;
}

.modal-footer {
  background-color: #efefef;
  padding: 10px 20px;
  border: 1px;
  border-radius: 0px 0px 10px 10px;
} */

/* The Close Button */
/* .close {
  color: #aaa;
  /* float: right; */
/* font-size: 28px;
  font-weight: bold;
} */

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.text-end {
  text-align: right;
  align-items: right;
  justify-content: right;
}

.text-center {
  text-align: center;
  align-items: center;
  justify-content: center;
}
*/ .cell {
  vertical-align: middle !important;
}

/* .no-border-bottom {
  border-bottom: none !important;
} */

.remove-bg {
  mix-blend-mode: multiply !important;
}

.container-wish {
  width: 95% !important;
}

.container-lg {
  width: 80% !important;
  align-items: center;
  justify-content: center;
}

.mt-productlisthold > li {
  width: 25%;
}
