.mt-logo {
  width: 112px !important;
}

.marquee-container {
  padding: 10px 0;
  background-color: #f0f0f0;
  font-size: 1.6em;
}

.w-200 {
  width: 200px !important;
}

.w-100 {
  width: 100px !important;
}

.remove-bg {
  mix-blend-mode: multiply !important;
}

.w4r-thumbnail {
  width: 230px !important;
}

.w-25 {
  width: 25%;
}

.w-50 {
  width: 50%;
}

.w-75 {
  width: 75%;
}

.w-100 {
  width: 100%;
}
